# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [1]:
# your code here

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [13]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
import requests

class BearerAuth(requests.auth.AuthBase):
    def __init__(self, token):
        self.token = token
    def __call__(self, r):
        r.headers["authorization"] = "Bearer " + self.token
        return r
response = requests.get('https://the-one-api.herokuapp.com/v1/quote', auth=BearerAuth('l70E7VrdrFk2T1VvDoeZ'))
response
results=response.json()
results
data_quote=pd.DataFrame(response.json()['docs'])
data_quote
##This api shows the quote and the

,_id,dialog,movie,character
0,5cd96e05de30eff6ebcce7e9,Deagol!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
1,5cd96e05de30eff6ebcce7ea,Deagol!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
2,5cd96e05de30eff6ebcce7eb,Deagol!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
3,5cd96e05de30eff6ebcce7ec,Give us that! Deagol my love,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe9e
4,5cd96e05de30eff6ebcce7ed,Why?,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfca7
...,...,...,...,...
2385,5cd96e05de30eff6ebccf13c,Merry!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfe2e
2386,5cd96e05de30eff6ebccf13d,Merry!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfbe6
2387,5cd96e05de30eff6ebccf13e,He's always followed me everywhere I went sinc...,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfc7c
2388,5cd96e05de30eff6ebccf13f,One thing I've learnt about Hobbits: They are ...,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfbe6
2389,5cd96e05de30eff6ebccf140,Foolhardy maybe. He's a Took!,5cd95395de30eff6ebccde5d,5cd99d4bde30eff6ebccfc7c

In [55]:
scripts_=pd.read_csv('/Users/nayibahued/Desktop/web-project/scripts.csv')

In [58]:

cols = []
cols = scripts_.columns
cols = [i.upper() for i in cols]
scripts_.columns = cols
scripts_
scripts_=scripts_.rename(columns={'MOVIE':'NAME'})
scripts_

,UNNAMED: 0,CHAR,DIALOG,NAME
0,0,DEAGOL,"Oh Smeagol Ive got one! , Ive got a fish Smeag...",The Return of the King
1,1,SMEAGOL,"Pull it in! Go on, go on, go on, pull it in!",The Return of the King
2,2,DEAGOL,Arrghh!,The Return of the King
3,3,SMEAGOL,Deagol!,The Return of the King
4,4,SMEAGOL,Deagol!,The Return of the King
...,...,...,...,...
2385,2385,PIPPIN,Merry!,The Return of the King
2386,2386,ARAGORN,Merry!,The Return of the King
2387,2387,MERRY,He's always followed me everywhere I went sinc...,The Return of the King
2388,2388,ARAGORN,One thing I've learnt about Hobbits: They are ...,The Return of the King
2389,2389,MERRY,Foolhardy maybe. He's a Took!,The Return of the King

In [94]:
response_mov = requests.get('https://the-one-api.herokuapp.com/v1/movie', auth=BearerAuth('l70E7VrdrFk2T1VvDoeZ'))

results_mov=response_mov.json()
results_mov
movies_=pd.DataFrame(response_mov.json()['docs'])
movies_
##Im gonna drop the 'series' columns because they represent the joint of the 3 LOTR and The Hobbit movies
##And the hobbits series too
movies_.drop(movies_.index[[0,1,2,3,4]], inplace=True)
movies_
movies_.drop(['budgetInMillions','boxOfficeRevenueInMillions'], axis=1, inplace=True)
movies_
##Im appending the year of release in a new column
Release_year=[2002,2001,2003]
movies_['Release_year']=Release_year
movies_
data_mov= movies_.sort_values(by=['Release_year'], ascending=True)
#data_mov.rename({'name':'movie'}, axis=1)
data_mov
cols_mov = []
cols_mov = data_mov.columns
cols_mov = [i.upper() for i in cols_mov]
data_mov.columns = cols_mov
data_mov

,_ID,NAME,RUNTIMEINMINUTES,ACADEMYAWARDNOMINATIONS,ACADEMYAWARDWINS,RELEASE_YEAR
6,5cd95395de30eff6ebccde5c,The Fellowship of the Ring,178,13,4,2001
5,5cd95395de30eff6ebccde5b,The Two Towers,179,6,2,2002
7,5cd95395de30eff6ebccde5d,The Return of the King,201,11,11,2003

In [123]:
##Merging the csv with the api, to add movie info
quote_movie_info=pd.merge(scripts_,data_mov,on='NAME',how='inner')
quote_movie_info.rename(columns={'UNNAMED: 0':'ORDER'})
df_1=quote_movie_info.copy()
df_1.drop(['UNNAMED: 0'], axis=1, inplace=True)
df_1['DIALOG'].unique()
df_1['DIALOG']=df_1['DIALOG'].str.strip()
df_1['DIALOG']=df_1['DIALOG'].str.replace('\xa0','')
df_1['DIALOG'].unique()
#Now that I cleaned the dialogs, I would like to sort them by the length
dia=list(df_1['DIALOG'])
lgth=[]
dia
for entry in dia:
    l = len(entry)
    lgth.append(l)
    
lgth
#Im gonna add the lgth list to sort the dialogs
df_1['DL_LEN'] = lgth
df_1
df_2 = df_1.sort_values(by=['DL_LEN'], ascending=False)
df_2

,CHAR,DIALOG,NAME,_ID,RUNTIMEINMINUTES,ACADEMYAWARDNOMINATIONS,ACADEMYAWARDWINS,RELEASE_YEAR,DL_LEN
552,GANDALF,"Sauron fears you, Aragorn.He fears what you ma...",The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,814
270,DENETHOR,"It's dangerous, I know. Ever the Ring will...",The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,396
153,SAM,"I know. It's all wrong. ,By rights, we sh...",The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,387
791,EOMER,Theoden no longer recognizesfriend from foe. N...,The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,366
155,SAM VOICEOVER,"But in the end, it's only a passing thing........",The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,352
...,...,...,...,...,...,...,...,...,...
896,GIMLI,oh!,The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,3
380,SMEAGOL,No.,The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,3
410,GOLLUM,No.,The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,3
1006,TREEBEARD,,The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,0
513,EOWYN,,The Two Towers,5cd95395de30eff6ebccde5b,179,6,2,2002,0

In [ ]:
#Now for the web-scrape, I´m gonna add the ratings from imdb for each movie