# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [39]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [40]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [55]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(404, 13) (102, 13) (404, 1) (102, 1)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [65]:
from sklearn.linear_model import LinearRegression as LR
linreg=LR().fit(X_train,y_train)

y_pred_train = linreg.predict(X_train)
y_pred_test = linreg.predict(X_test)
print(y_pred_train.shape)
print(y_pred_test.shape)

(404, 1)
(102, 1)

## 3. Calculate and print R-squared for both the training and the testing set.

In [57]:
from sklearn.metrics import r2_score as r2

print("R2 for training set:",r2(y_train, y_pred_train))

print("R2 for testing set:",r2(y_test, y_pred_test))

R2 for training set: 0.7360128769362284
R2 for testing set: 0.7333286198711861

## 4. Calculate and print mean squared error for both the training and the testing set.

In [58]:
from sklearn.metrics import mean_squared_error as mse

print("MSE for training set:",mse(y_train, y_pred_train))

print("MSE for testing set:",mse(y_test, y_pred_test))

MSE for training set: 22.46558806045757
MSE for testing set: 21.741213191609916

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [59]:
from sklearn.metrics import mean_absolute_error as mae
print("MAE for training set:",mae(y_train, y_pred_tr))

print("MAE for testing set:",mae(y_test, y_pred_te))

MAE for training set: 9.073430626765418
MAE for testing set: 8.253773134747306

## Classification Model Evaluation

In [74]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [75]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(120, 4) (30, 4) (120, 1) (30, 1)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [78]:
from sklearn.linear_model import LogisticRegression as LogReg
linreg=LogReg().fit(X_train,y_train)

y_pred_train = linreg.predict(X_train)
y_pred_test = linreg.predict(X_test)
print(y_pred_train.shape)
print(y_pred_test.shape)

(120,)
(30,)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [86]:
from sklearn.metrics import accuracy_score as acc

print("The accuracy score of the training set is:",acc(y_train, y_pred_train))
print("The accuracy score of the test set is:",acc(y_test, y_pred_test))

The accuracy score of the training set is: 0.9916666666666667
The accuracy score of the test set is: 0.9333333333333333

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [85]:
from sklearn.metrics import balanced_accuracy_score as bas

print("The balanced accuracy score of the training set is:",bas(y_train, y_pred_train))
print("The balanced accuracy score of the test set is:",bas(y_test, y_pred_test))

The balanced accuracy score of the training set is: 0.9904761904761905
The balanced accuracy score of the test set is: 0.9555555555555556

## 10. Calculate and print the precision score for both the training and the testing set.

In [89]:
from sklearn.metrics import precision_score as prec

print("The precision score of the training set is:",prec(y_train, y_pred_train, average='macro'))

print("The precision score of the test set is:",prec(y_test, y_pred_test, average='macro'))

The precision score of the training set is: 0.9922480620155039
The precision score of the test set is: 0.9333333333333332

## 11. Calculate and print the recall score for both the training and the testing set.

In [90]:
from sklearn.metrics import recall_score as rec

print("The recall score of the training set is:",rec(y_train, y_pred_train, average='macro'))

print("The recall score of the test set is:",rec(y_test, y_pred_test, average='macro'))

The recall score of the training set is: 0.9904761904761905
The recall score of the test set is: 0.9555555555555556

## 12. Calculate and print the F1 score for both the training and the testing set.

In [91]:
from sklearn.metrics import f1_score as f1

print("The recall score of the training set is:",f1(y_train, y_pred_train, average='macro'))

print("The recall score of the test set is:",f1(y_test, y_pred_test, average='macro'))

The recall score of the training set is: 0.9912475134981529
The recall score of the test set is: 0.9391534391534392

## 13. Generate confusion matrices for both the training and the testing set.

In [94]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, y_pred_train)

array([[43,  0,  0],
       [ 0, 34,  1],
       [ 0,  0, 42]])

In [95]:
confusion_matrix(y_test, y_pred_test)

array([[ 7,  0,  0],
       [ 0, 13,  2],
       [ 0,  0,  8]])

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.