![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [7]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies
colec = db.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [10]:
db.collection_names()

<ipython-input-10-8ff4d2505e25>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  db.collection_names()

['companies']

In [8]:
list(colec.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [11]:
list(colec.find({'number_of_employees':{'$gt':5000}},
                {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(20)
    
    )

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [14]:
list(colec.find({'$and':[{'founded_year':{'$gte':2000}},
                       {'founded_year':{'$lte':2005}}]},
              {'name':1,'founded_year':1,'_id':0}).sort('founded_year',-1).limit(25))

[{'name': 'iSkoot', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Slide', 'founded_year': 2005},
 {'name': 'Zlio', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Revision3', 'founded_year': 2005},
 {'name': 'ClipBlast!', 'founded_year': 2005},
 {'name': 'Bebo', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'TripHub', 'founded_year': 2005},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Netvibes', 'founded_year': 2005},
 {'name': 'YouTube', 'founded_year': 2005},
 {'name': 'Instructables', 'founded_year': 2005},
 {'name': 'RockYou', 'founded_year': 2005},
 {'name': 'PBworks', 'founded_year': 2005},
 {'name': 'Newsvine', 'founded_year': 2005},
 {'name': 'Meebo', 'founded_year': 2005},
 {'name': 'Swivel', 'founded_year': 2005},
 {'name': 'Dailymotion', 'founded_year': 2005},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [19]:
list(colec.find({'$and':[{'ipo.valuation_amount':{'$gt':100000000}},
                       {'founded_year':{'$lte':2010}}]},
              {'name':1,'ipo':1,'_id':0}).sort('founded_year',-1).limit(10))

[{'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Millennial Media',
  'ipo': {'valuation_amount': 973500000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 28,
   'stock_symbol': 'NYSE:MM'}},
 {'name': 'Marketo',
  'ipo': {'valuation_amount': 465000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 4,
   'pub_day': 2,
   'stock_symbol': 'NASDAQ:MKTO'}},
 {'name': 'Wix',
  'ipo': {'valuation_amount': 750000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 6,
   'stock_symbol': 'NASDAQ:WIX'}},
 {'name': 'Chegg',
  'ipo': {'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 14,
   'stock_symbol': 'NYSE:CHGG'}},
 {'name': 'Chegg',
  'ipo': {'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 14,
   'stock_symbol': 'NYSE:CHGG'}},
 {'name': 'Tudou',
  'ipo': {'valuation_amount': 174000000,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:TUDO'}},
 {'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [20]:
list(colec.find({'$and':[{'number_of_employees':{'$lt':1000}},
                       {'founded_year':{'$lte':2005}}]},
              {'name':1,'number_of_employees':1,'_id':0}).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [ ]:
list(colec.find({}))

### 7. All the companies that have a null type of value on the `category_code` field.

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

### 9. Order all the companies by their IPO price descendently.

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

### 12. All the companies that have been 'deadpooled' after the third year.

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.